﻿@model App.Views.Forms.FormsModel
<form>
    @foreach(App.Views.Forms.FormsModel.FormField kv in Model.Fields)
    {
        @switch (kv.ElementType)
        {
            case "input-text":
                <div class="form-group">
                    <label>@kv.Label</label>
                    <input type="text" class="form-control"/>
                </div>
                break;
            case "input-multitext":
                <div class="form-group">
                    <label>@kv.Label</label>
                    <textarea class="form-control"></textarea>
                </div>
                break;
            case "input-date":
                <div class="form-group">
                    <label>@kv.Label</label>
                    <input type="date" class="form-control"/>
                </div>
                break;
            case "input-number":
                <div class="form-group">
                    <label>@kv.Label</label>
                    <input type="number" class="form-control"/>
                </div>
                break;
            case "input-checkbox":             
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" />
                    <label class="form-check-label">@kv.Label</label>
                </div>
                break;

            case "control-select":             
                <div class="form-group">
                    <label>@kv.Label</label>
                    <select class="form-control is-valid">
                      <option>Default select</option>
                      <option>Default select</option>
                      <option>Default select</option>
                      <option>Default select</option>
                    </select>
                </div>
                break;
            case "control-multiselect":             
                <div class="form-group">
                    <label>@kv.Label</label>
                    <select multiple class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                break;
        }
    }
</form>