﻿@model App.Views.Forms.FormBuilder

<div class="container-fluid">
    <div class="row">
        <div class="col-4">

            <details>
                <summary>Добавить поле</summary>
                <ul>
                    <li class="p-10 w-100" onclick="location.href='/Forms/AddTextField'">Текст</li>
                    <li class="p-10 w-100" onclick="location.href='/Forms/AddSelectField'">Выбор</li>
                    <li class="p-10 w-100" onclick="location.href='/Forms/AddCheckboxField'">Чекбокс</li>
                    <li class="p-10 w-100" onclick="location.href='/Forms/AddMultiTextField'">Комментарий</li>
                    <li class="p-10 w-100" onclick="location.href='/Forms/AddDateField'">Дата</li>
                </ul>
            </details>
        </div>
        <div class="col-8">
            <partial name="Form" model="@Model.Form"/>
        </div>
    </div>
    
</div>